<!doctype html>
<html>
  <head>
    <link href="labs.css" media="screen,print" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <a href="http://edgecase.com">
        <img id="logo" src="edgecase.gif"\ >
      </a>
      <div class="title">Git Immersion Labs</div>
      <%= nav_links(f, lab) %>
    </header>
    <section id="main">
      <article>
        <%= lab_html %>
      </article>
    </section>
    <footer>
      <%= nav_links(f, lab) %>
   </footer>
  </body>
</html>
