<div id="index">
  <h1>Labs Index</h1>
  <div id="show_bookmarks"></div>
  <div id="no_bookmarks"></div>
  <ul>
    <li data-lab-id="0"><a href="index.html"><span>&nbsp;</span>Cover Page</a></li>
    <% labs.each do |l| -%>
      <li data-lab-id="<%= l.number %>"><a href="<%= l.filename %>"><span><%= l.number %>:</span> <%= l.name %></a></li>
    <% end -%>
  </ul>
</div>
