<nav id="pager">
  <% if lab.next -%>
    <a id="arrow_next" class="arrow" href="<%= lab.next.filename %>">Next</a>
  <% else -%>
    <span id="arrow_next" class="arrow">Next</span>
  <% end -%>

  <% if lab.prev -%>
    <a id="arrow_previous" class="arrow" href="<%= lab.prev.filename %>">Previous</a>
  <% else -%>
    <span id="arrow_previous" class="arrow">Previous</span>
  <% end -%>

  <a id="table_of_contents_link" href="#">Table of Contents</a>
  <a id="bookmark_link"><span id="bookmark"></span>Bookmark this lab</a>
  <a id="neo_link" href="http://neo.com" target="_blank">Neo</a>
</nav>
