<nav>
  <ul>
    <li>
      <% if lab.prev -%>
        <a href="<%= lab.prev.filename %>">&laquo; Previous Lab</a>
      <% else -%>
        &laquo; Previous Lab
      <% end -%>
    </li>
    <li>
      <a href="index.html">Index</a>
    </li>
    <li>
      <% if lab.next -%>
        <a href="<%= lab.next.filename %>">Next Lab &raquo;</a>
      <% else -%>
        Next Lab &raquo;
      <% end -%>
    </li>
  </ul>
</nav>
