<ul>
  <li class="arrow next">
    <% if lab.next -%>
      <a href="<%= lab.next.filename %>">Next</a>
    <% else -%>
      <span>Next</span>
    <% end -%>
  </li>
  <li class="arrow previous">
    <% if lab.prev -%>
      <a href="<%= lab.prev.filename %>">Previous</a>
    <% else -%>
      <a href="index.html">Previous</a>
    <% end -%>
  </li>
  <li class="index_button"><a href="#">Index</a></li>
</ul>
