/* line 1, _reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 2, _reset.scss */
a {
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 3, _reset.scss */
body {
  line-height: 1;
}

/* line 4, _reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 5, _reset.scss */
nav ul {
  list-style: none;
}

/* line 6, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 7, _reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 8, _reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 9, _reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 10, _reset.scss */
del {
  text-decoration: line-through;
}

/* line 11, _reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 12, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, _reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 14, _reset.scss */
input, select {
  vertical-align: middle;
}

/* line 15, _reset.scss */
.clear {
  clear: both;
}

@font-face {
  font-family: DINWeb-CondBold;
  src: url("DINWeb-CondBold.eot");
}

@font-face {
  font-family: DINWeb-CondBold;
  src: url("DINWeb-CondBold.woff") format("woff");
}

@font-face {
  font-family: DINWeb-CondMedium;
  src: url("DINWeb-CondMedium.eot");
}

@font-face {
  font-family: DINWeb-CondMedium;
  src: url("DINWeb-CondMedium.woff") format("woff");
}

@font-face {
  font-family: DINWebProRegular;
  src: url(DINWebPro.eot);
}

@font-face {
  font-family: DINWebProRegular;
  src: url(DINWebPro.woff) format("woff");
}

/* line 8, screen.scss */
.clear {
  clear: both;
}

/* line 10, screen.scss */
html, body {
  padding-bottom: 20px;
  font-family: 'DINWebProRegular', helvetica, arial, serif;
  background: url(background.jpg);
}

/* line 16, screen.scss */
#index_body {
  background: #fff;
}

/* line 18, screen.scss */
.wrapper {
  position: relative;
  width: 894px;
  margin: 0 auto;
}

/* Index Header
------------------------------------------------------------ */
/* line 29, screen.scss */
#index_header {
  height: 240px;
  background: url(background.jpg);
}
/* line 33, screen.scss */
#index_header a {
  position: relative;
  top: 56px;
  display: block;
  width: 894px;
  height: 130px;
  margin: 0 auto;
  text-indent: -999em;
  background: url(logo_large.png);
}

/* Lab Header
------------------------------------------------------------ */
/* line 49, screen.scss */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 145px;
  text-transform: uppercase;
  background: #fff;
  z-index: 2;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* line 60, screen.scss */
#home_link {
  position: absolute;
  top: 47px;
  left: 42px;
  width: 210px;
  height: 35px;
  text-indent: -999em;
  background: url(logo_small.png);
}

/* line 69, screen.scss */
.blur #home_link {
  background: url(logo_small_blur.png);
}

/* line 71, screen.scss */
#pager {
  position: absolute;
  top: 92px;
  left: 34px;
  width: 229px;
  height: 268px;
  background: url(pager.png);
}

/* line 79, screen.scss */
.blur #pager {
  background: url(pager_blur.png);
}

/* line 81, screen.scss */
#edgecase_link {
  top: 96px;
  left: 50px;
  width: 334px;
  height: 40px;
}

/* line 87, screen.scss */
#pager .arrow {
  position: absolute;
  top: 37px;
  width: 20px;
  height: 40px;
  text-indent: -999em;
}

/* line 94, screen.scss */
#arrow_previous {
  left: 18px;
}

/* line 95, screen.scss */
#arrow_next {
  left: 178px;
}

/* line 97, screen.scss */
#table_of_contents_link {
  position: absolute;
  top: 33px;
  left: 57px;
  width: 100px;
  height: 50px;
  text-indent: -999em;
}

/* line 105, screen.scss */
#edgecase_link {
  position: absolute;
  top: 185px;
  left: 5px;
  width: 203px;
  height: 69px;
  text-indent: -999em;
}

/* line 113, screen.scss */
#bookmark_link {
  overflow: hidden;
  position: absolute;
  top: 113px;
  right: 11px;
  left: 6px;
  height: 68px;
  text-indent: -999em;
  cursor: pointer;
}
/* line 123, screen.scss */
#bookmark_link #bookmark {
  position: absolute;
  top: -6px;
  left: 16px;
  width: 19px;
  height: 68px;
  background: url(bookmarks.png) no-repeat 0px 0;
}
/* line 131, screen.scss */
#bookmark_link #bookmark.active {
  background-position: -19px 0;
}

/* line 136, screen.scss */
.lab_title {
  width: 618px;
  padding: 5px 0 15px 340px;
  color: #2e2e2e;
  font: 39px 'DINWeb-CondMedium', helvetica, arial, sans-serif;
  line-height: 100%;
  text-transform: uppercase;
}

/* line 144, screen.scss */
.blur .lab_title {
  color: transparent;
  text-shadow: 0 0 2px #2e2e2e;
}

/* line 148, screen.scss */
.lab_title em {
  display: block;
  color: #86ac3a;
  font-size: 21px;
  font-style: normal;
}

/* line 154, screen.scss */
.blur .lab_title em {
  color: transparent;
  text-shadow: 0 0 2px #86ac3a;
}

/* Index: Attention
------------------------------------------------------------ */
/* line 162, screen.scss */
#attention {
  border-top: 2px solid #fff;
  background: #dfe2e2;
}
/* line 166, screen.scss */
#attention .wrapper {
  padding: 25px 0;
  line-height: 150%;
}
/* line 170, screen.scss */
#attention p {
  width: 600px;
  color: #666;
  font: 17px 'DINWebProRegular', helvetica, arial, sans-serif;
}
/* line 175, screen.scss */
#attention p em {
  display: block;
  margin-bottom: 5px;
  color: #526668;
  font: 39px 'DINWeb-CondMedium', helvetica, arial, sans-serif;
  line-height: 115%;
  text-transform: uppercase;
}

/* line 185, screen.scss */
#attention_links {
  position: absolute;
  top: 21px;
  right: 0;
  width: 280px;
}
/* line 191, screen.scss */
#attention_links h1 {
  margin-bottom: 15px;
  color: #666;
  font-size: 18px;
  text-align: center;
  background: url(line.png) no-repeat 0 50%;
}
/* line 198, screen.scss */
#attention_links h1 span {
  padding: 0 8px;
  background: #dfe2e2;
}
/* line 201, screen.scss */
#attention_links a {
  display: inline-block;
  width: 117px;
  height: 43px;
  margin-left: 9px;
  color: #fff;
  font: 21px 'DINWeb-CondBold', helvetica, arial, sans-serif;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: url(button.png);
}

/* line 215, screen.scss */
#start_immersion {
  position: absolute;
  right: 9px;
  bottom: -60px;
  width: 266px;
  height: 119px;
  text-indent: -999em;
  background: url(start_button.png);
}
/* line 224, screen.scss */
#start_immersion:active {
  bottom: -61px;
}

/* Index: Private Training
------------------------------------------------------------ */
/* line 231, screen.scss */
#private_training {
  margin: 40px 0 20px 0;
}
/* line 234, screen.scss */
#private_training h1 {
  color: #526668;
  font: 39px 'DINWeb-CondMedium', helvetica, arial, sans-serif;
  text-transform: uppercase;
}
/* line 239, screen.scss */
#private_training p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
  color: #666;
  font-size: 17px;
  line-height: 150%;
}

/* Index: Other Resources
------------------------------------------------------------ */
/* line 251, screen.scss */
#other_resources {
  float: left;
  position: relative;
  width: 375px;
}
/* line 256, screen.scss */
#other_resources h1 {
  color: #999;
  font: 21px 'DINWeb-CondBold', helvetica, arial, sans-serif;
  text-transform: uppercase;
}

/* line 264, screen.scss */
#other_resources li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}
/* line 269, screen.scss */
#other_resources li a {
  color: #999;
}

/* Index: Brought to you by
------------------------------------------------------------ */
/* line 276, screen.scss */
#brought_to_you_by {
  color: #ED6B44;
  font: 39px 'DINWeb-CondMedium', helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 282, screen.scss */
#brought_to_you_by img {
  display: block;
}

/* Index: License
------------------------------------------------------------ */
/* line 291, screen.scss */
#license {
  color: #999;
  font-size: 17px;
}
/* line 295, screen.scss */
#license h1 {
  color: #999;
  font: 21px 'DINWeb-CondBold', helvetica, arial, sans-serif;
  text-transform: uppercase;
}
/* line 301, screen.scss */
#license a {
  color: #999;
  text-decoration: none;
}
/* line 306, screen.scss */
#license img {
  float: left;
  display: block;
  margin: 0 10px 10px 0;
}

/* Goals
------------------------------------------------------------ */
/* line 318, screen.scss */
h3 {
  width: 618px;
  margin: 0 0 0.15em 340px;
  color: #86ac3a;
  font: 21px 'DINWeb-CondMedium', helvetica, arial, sans-serif;
  text-transform: uppercase;
}

/* line 325, screen.scss */
.blur h3 {
  color: transparent;
  text-shadow: 0 0 2px #86ac3a;
}

/* line 329, screen.scss */
#main_content ul {
  margin: 0 0 40px 340px;
  color: #222;
}

/* line 333, screen.scss */
.blur #main_content ul {
  color: transparent;
  text-shadow: 0 0 2px #222;
}

/* line 337, screen.scss */
li {
  margin-bottom: 0.5em;
  line-height: 120%;
}

/* Main Content
------------------------------------------------------------ */
/* line 347, screen.scss */
#main_content {
  padding: 175px 0 0 0;
}

/* line 349, screen.scss */
#main_content h1 {
  display: none;
}

/* line 351, screen.scss */
h2 {
  position: relative;
  left: -65px;
  margin: 30px 0;
  padding: 22px 0 2px 405px;
  color: #86ac3a;
  font: 36px 'DINWebProRegular', helvetica, arial, serif;
}

/* line 359, screen.scss */
.blur h2 {
  color: transparent;
  text-shadow: 0 0 2px #86ac3a;
}

/* line 363, screen.scss */
h2 em {
  position: absolute;
  top: 17px;
  left: 340px;
  width: 56px;
  height: 56px;
  color: #fff;
  font: 27px 'DINWeb-CondBold', helvetica, arial, serif;
  line-height: 60px;
  text-align: center;
  background: url(green_circle.png) no-repeat 50% 50%;
}

/* line 375, screen.scss */
.blur h2 em {
  color: transparent;
  text-shadow: 0 0 2px #fff;
  background-image: url(green_circle_blur.png);
}

/* line 380, screen.scss */
h4 {
  position: relative;
  left: 340px;
  display: inline-block;
  min-width: 80px;
  height: 35px;
  margin: 10px 0;
  padding: 0 20px 0 8px;
  color: #fff;
  font: 18px 'DINWeb-CondBold', helvetica, arial, serif;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: url(label.png) no-repeat 100% 0;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 396, screen.scss */
.blur h4 {
  color: transparent;
  text-shadow: 0 0 2px #fff;
  background: url(label_blur.png) no-repeat 100% 0;
}

/* line 401, screen.scss */
h4 em {
  padding-left: 5px;
  font: 14px helvetica, arial, sans-serif;
  letter-spacing: 0;
  text-transform: none;
}

/* line 407, screen.scss */
a {
  color: #d00;
}

/* line 409, screen.scss */
.instructions {
  margin-bottom: 1em;
  padding-left: 318px;
  color: #222;
}

/* line 414, screen.scss */
.blur .instructions {
  color: transparent;
  text-shadow: 0 0 2px #222;
}

/* line 418, screen.scss */
.instructions pre {
  display: block;
  width: 608px;
  margin-bottom: 0.25em;
  padding-left: 22px;
  font: 18px courier, 'courier new', monospace;
  background: url(prompt.png) no-repeat 0 50%;
}

/* line 426, screen.scss */
#main_content img {
  display: block;
  margin-left: 340px;
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
}

/* line 431, screen.scss */
#main_content p {
  width: 618px;
  margin: 1em 0;
  padding-left: 340px;
  color: #7c7c7c;
  font-size: 18px;
  line-height: 130%;
}

/* line 439, screen.scss */
.blur p {
  color: transparent;
  text-shadow: 0 0 2px #7c7c7c;
}

/* line 443, screen.scss */
ol {
  width: 608px;
  margin: 1em 0;
  padding-left: 340px;
  color: #7c7c7c;
  line-height: 130px;
}

/* line 450, screen.scss */
.sample {
  overflow: auto;
  display: block;
  margin-bottom: 1em;
  padding: 10px 0 10px 340px;
  color: #74e83f;
  font: 14px courier, 'courier new', monospace;
  background: #2E2E2E;
}

/* line 459, screen.scss */
.blur .sample {
  color: transparent;
  text-shadow: 0 0 2px #74e83f;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  -o-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}

/* line 465, screen.scss */
.file {
  overflow: auto;
  display: block;
  margin-bottom: 1em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 340px;
  font: 14px courier, 'courier new', monospace;
  background: #fff;
}

/* line 475, screen.scss */
.note strong {
  color: #000;
  text-decoration: underline;
}

/* Labs Index
------------------------------------------------------------ */
/* line 484, screen.scss */
#cover {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 3;
}

/* line 495, screen.scss */
#index {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 420px;
  margin-left: -210px;
  background: #e9e7e0;
  z-index: 4;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* line 507, screen.scss */
#index.visible {
  display: block;
}

/* line 509, screen.scss */
#index #show_bookmarks {
  position: absolute;
  top: -6px;
  right: 40px;
  width: 19px;
  height: 46px;
  cursor: pointer;
  background: url(bookmarks.png) no-repeat;
  z-index: 2;
}

/* line 519, screen.scss */
#index #show_bookmarks.active {
  background-position: -19px 0;
}

/* line 521, screen.scss */
#index #no_bookmarks {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 300px;
  height: 78px;
  margin-left: -150px;
  background: url(no_bookmarks.png);
}

/* line 531, screen.scss */
#index h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding-left: 42px;
  font: 24px 'DINWeb-CondBold', helvetica, arial, sans-serif;
  line-height: 54px;
  text-transform: uppercase;
  background: url(index_heading_background.png) repeat-x;
  z-index: 2;
}

/* line 544, screen.scss */
#index ul {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 50px 0 10px 0;
  z-index: 1;
}

/* line 555, screen.scss */
#index ul::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 556, screen.scss */
#index ul::-webkit-scrollbar-track:enabled {
  background-color: transparent;
}

/* line 558, screen.scss */
#index ul::-webkit-scrollbar-button:start:decrement,
#index ul::-webkit-scrollbar-button:end:increment {
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent;
}

/* line 560, screen.scss */
#index ul::-webkit-scrollbar-thumb:vertical,
#index ul::-webkit-scrollbar-thumb:horizontal {
  width: 30px;
  background-color: transparent;
  -webkit-border-radius: 5px;
}

/* line 562, screen.scss */
#index ul.hover::-webkit-scrollbar-thumb:vertical,
#index ul.hover::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* line 564, screen.scss */
#index li {
  overflow: hidden;
  padding-left: 12px;
}

/* line 568, screen.scss */
#index a {
  display: block;
  height: 28px;
  color: #353535;
  font: 14px helvetica, arial, sans-serif;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background: url(index_item_background.gif) no-repeat 0 100%;
}

/* line 579, screen.scss */
#index li:last-child a {
  background: none;
}

/* line 581, screen.scss */
#index a span {
  float: left;
  display: block;
  margin-right: 5px;
  width: 25px;
  font-weight: normal;
  text-align: right;
}
